# Пропуск аудита безопасности при установке пакетов
audit=false

# Отключить предупреждения о устаревших зависимостях
legacy-peer-deps=true

# Увеличить таймаут для больших пакетов
network-timeout=100000 
